body {
  font-size: 14pt;
  font-family: Calibri, sans-serif;
  background-color: darkslateblue;
  color: lightblue;
  text-align: center;
  margin-top: 2lh;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav {
  border-top: 2px dotted rgb(from lightblue r g b / 0.4);
  border-bottom: 2px dotted rgb(from lightblue r g b / 0.4);
  padding: 0.25rem;
}
nav a {
  all: unset;
  padding: 0.5rem;
}
nav a:hover {
  cursor: pointer;
  color: white;
}

hr {
  opacity: 0.2;
}

input, button {
  padding: 0.25rem;
}

#number-list h4 {
  margin-top: 0.5lh;
  margin-bottom: 0;
}
#number-list {
  padding-bottom: 1lh;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#object-list {
  display: inline-block;
  width: max-content;
  text-align: left;
}