<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BSApp</title>
  <link rel="stylesheet" href="/css/global.css">
  <script src="/js/index.js" defer></script>
</head>

<body>
  <h1>BSApp</h1>
  <h2>Number Collector</h2>

  <form id="data-form">
    <input type="text" id="name-input" placeholder="Name">
    <input type="number" id="number-input" placeholder="Add number" step="any">
    <button type="button" id="add-button">Add</button>
    <button type="submit">Send</button>
  </form>
  <div id="number-list">
    <h4>Numbers to add:</h4>
    -
  </div>
  <hr>

  <button id="mean-button">Calculate mean</button>
  <br>
  <hr>

  <ul id="object-list"></ul>
</body>

</html>