<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BSApp</title>
  <link rel="stylesheet" href="/css/global.css">
  <script src="/js/index.js" defer></script>
</head>

<body>
  <h1>TEST!!!</h1>

  <form id="data-form">
    <input type="text" id="name-input" placeholder="Name">
    <input type="number" id="number-input" placeholder="Add number" step="any">
    <button type="button" id="add-button">Add</button>
    <button type="submit">Send</button>
  </form>
  <div id="number-list"></div>

  <ul id="object-list"></ul>
</body>

</html>